* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color:#497285;
  color: #f7f6ee;
  padding: 6em;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section {
  display: flex;
  margin: 2rem;
  border: 1px solid #dfebed;
  padding: 2rem;
  border-radius: 20px;
}

.button {
  background-color: #dfebed;
  border: 0 solid #dfebed;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #394a51;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  margin: 5px;
}

.button.addTask {
  background-color: #dfebed;
  border: 0 solid #dfebed;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #394a51;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
}

.button.moveTask {
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0;
  line-height: 1rem;
}

.button.delete {
  background-color: pink;
  border-color: pink;
}

.button:hover {
  background-color: #2b4450;
  border-color: #2b4450;
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 75rem) {
  section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 75rem) {
  section {
    min-width: 800px;
  }
}

  